*{padding:0;margin:0;}

a:hover{text-decoration:none !important}
ul li{list-style: none;}
.clear{
    clear: both;
}

body{
    font-family: 'RoboR';
    font-size: 14px;
}
a:hover {
    text-decoration: none !important;
}
.pdl-0{
    padding-left: 0px !important;
}
.pdr-0{
    padding-right: 0px !important;
}
.pdt-10{
    padding-top: 10px;
}
.tac{
    text-align: center;
}
.mt-0{
    margin-top: 0px !important;
}
.mt-30{
    margin-top: 30px;
    width: 100%;
    float: left;
}
.mb-30{
    margin-bottom: 30px;
}
.pdl-15{
    padding-left: 20px;
}
.pdr-15{
    padding-right: 20px;
}
.pdb-15{
    padding-bottom: 20px;
}
@font-face {
    font-family: 'RoboR';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'RoboB';
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'RoboL';
    src: url('../fonts/Roboto-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'RoboI';
    src: url('../fonts/Roboto-Italic.ttf');
    font-style: normal;
}
header{
    width: 100%;
    float: left;
}
.img-logo{
    width: 100%;
}
.box-right{
    float: right;
    margin-top: 60px;

}
.phone{
    margin-right: 15px;
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
}
.phone i{
    color: #07ab71;
}
.shopping-cart{
    margin-right: 40px;
    font-size: 18px;
}
.shopping-cart a{
    color: #000;
}
.language img{
    height: 20px;
    width: 30px;
}
.menu{
    width: 100%;
    float: left;
    background: #222222;
}
.content-home{
    margin-top: 30px;
    width: 100%;
    float: left;
    text-align: center;
}
.menu-mobile{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.vk-header__search {
    text-align: right;
}
.vk-menu__mobile {
    border-top: 3px solid white;
    padding: 0px 0px;
    text-transform: uppercase;
    background: #2f7499;
}
.vk-menu__mobile li {
    position: relative;
}
.vk-menu__mobile li a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    display: block;
    width: 100%;
    color: #fff;
}
.vk-menu__mobile li a._arrow-mobile {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 42px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu_Mobile{
    font-size: 18px;
    /*color: #d88e15;*/
}
.menu-cate, .top-menu{
    width: 100%;
    float: left;
}
.top-menu{
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}
.navi{
    /*width: 100%;*/
    float: left;
    margin-bottom: 0px;
    position: relative;
    /*margin-top: 30px;*/
}
.menu  ul.navi > li {
    float: left;
    /*position: relative;*/
    line-height: 40px;
    /*margin-right: 30px;*/
    /*padding: 10px 10px;*/
}
.menu ul.navi > li:first-child{
    padding-left: 0;
}
.menu ul.navi > li.active{
    /*background: #d88e15;*/
}
.menu ul.navi > li.active a{
    
    color: #fff;
}
.navi a{
    font-family: 'RobotoCondensed','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.menu ul.navi > li  a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;    
    padding-right: 20px;
    padding-left: 20px;
}
.vk-menu__child{
    display: none;
    position: absolute;
    top: 40px;
    /* left: 0px; */
    background: rgba(34,41,46,0.8);
    box-shadow: 0 5px 5px rgba(0,0,0,0.19);
    width: 100%;
    min-width: 900px;
    z-index: 999999;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    padding: 5px 10px 10px 10px;
    border-top: 1px solid #020202;
    max-height: 420px;
}
.vk-menu__child > li{
    line-height: 25px !important;      
}
/*.vk-menu__child > li a{
    text-transform: unset !important;
}*/
.menu .navi li:hover > ul.vk-menu__child {
    display: flex;
    z-index: 9999;
}
.menu .navi li > ul.vk-menu__child > li:hover > a{
    color: #fff;
}
.vk-menu__child a{
    
    border-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 10px !important;
    font-weight: 300;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif ;
    font-size: 13px !important;
    
}
ul.gt{
    max-width: 230px;
    min-width: 200px;
}
ul.gt li{
    width: 100%;
    line-height: 27px;
}
.title-cate-child{
    color: #fff !important;
}
ul.gt li a{
    color: #d9d9d9 !important;
}
.sub-menu-list{
    /*padding-left: 10px;*/
}
.sub-menu-list li{
    line-height: 20px !important;
}
.sub-menu-list a{
    font-size: 13px !important;
    color: #d9d9d9 !important;
    text-transform: unset !important;
}
.sub-menu-list li:hover a{
    color: #fff !important;
}
.menu ul.navi > li:hover{
    /*background: #d88e15;*/
}
.menu ul.navi > li:hover > a, .menu ul.navi > li:hover > i{
    color: #fff;
}
.box-search{
    float:right;
    margin-top: 5px;
}
.box-search i{
    color: #fff;
    line-height: 30px;
}
.box-search input{
    background: transparent;
    border: 1px solid #6a6d6d;
    height: 30px;
    width: 0px;
    display: none;
}
.show-input-search{
    display: inline-block !important;
    -webkit-transition: width 0.5s !important;
    transition: width 0.5s !important;
    width: 250px !important;
}
.why-choose{
    width: 100%;
    float: left;
    background: #f8f8f8;
}
.title-why-choose{
    font-size: 30px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-family: RoboB;
}
.dongke {
    width: 100%;
    float: left;
}
.dongke span {
    width: 125px;
    height: 2px;
    background: #07ab71;
    margin: 0 auto;
    display: block;
}
.why-choose .box-item{
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.why-choose .box-item .name{
    color: #000;
    font-size: #4d4d4d;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 20px;
}
.why-choose .box-item .box{
    border:1px solid #e3e3e3;
    border-bottom: 2px solid #07ab71;
    border-radius: 6px;
    padding:20px;
}
.about-us{
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.title-about{
    color: #4d4d4d;
    text-transform: uppercase;
    font-size: 26px;
    font-family: RoboB;
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-us .des{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 147px;
}
.read-more{
    margin-top: 30px;
}
.read-more a{
    color: #fff;
    text-transform: uppercase;
    background: #07ab71;
    padding:10px 20px;
}
.hot-proudct-box{
    width: 100%;
    float: left;
    margin-top: 40px;
    background: #f8f8f8;
    padding-bottom: 50px;
}
.slider{
    width: 100%;
    float: left;
}
.slider img{
    height: 450px !important;
    width: 100%;
}
.list-product-item{
    margin-top: 40px;
}
.owl-carousel-product .item {
    margin-left: 20px;
    margin-right: 20px;
}
.list-product-item .item img {
    width: 100%;
    height: 300px;
}
.owl-carousel-product .owl-controls .owl-nav .owl-prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 0px;
    margin-left: 0px;
}
.owl-carousel-product .owl-controls .owl-nav .owl-next i, .owl-carousel-product .owl-controls .owl-nav .owl-prev {
    /*border: 1px solid #2f7499;*/
    /*border-radius: 50%;*/
    /*padding: 4px 10px;*/
    color: #A3A3A3;
    font-size: 40px;
}
.owl-carousel-product .owl-controls .owl-nav .owl-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 0px;
    margin-right: 0px;
}
.name_product {
    font-size: 15px;
    line-height: 1.3em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 58.5px;
}
.name_product a{
    color: #333;
    font-weight: 400px;
}
.price{
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.hot-news, .list-hot-item{
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.list-hot-item{
    display: flex;
}
.right .box-item-news {
    width: 100%;
    float: left;
    margin-bottom: 27px;
}
.list-hot-item .left .box-item-news{
    border: 1px solid #e3e3e3;
    padding-bottom: 30px;
}
.list-hot-item .left img, .list-hot-item .right img{
    width: 100%;
}
.list-hot-item .left img{
    height: 386px;
    overflow: hidden;
}
.list-hot-item .right img{
    height: 159px;
    overflow: hidden;
}
.name-news{
    margin-top: 15px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}
.right .name-news{
    font-size: 20px;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 28px;
}
.name-news a{
    color: #222222;
    
}
.des-news{
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 78.4px;
    text-align: justify;

}
.feedback{
    width: 100%;
    float: left;
    background: url('../images/feedback.jpg') ;
    display: block;
    /*height: 320px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}
.list-feedback{
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
.name-feedback{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
}
.feedback .owl-controls{
    margin-top: 30px;
}
.feedback .owl-prev{
    width: 50%;
    float: left;
    text-align: right;
}
.feedback .owl-next{
    text-align: left;
}
.feedback .owl-next i{
    margin-left: 5px;
    font-size: 20px;
}
.feedback .owl-prev i{
    margin-right: 5px;
    font-size: 20px;
}
.vk-footer {
    background: url(../images/footer.jpg) bottom center;
    background-size: cover;
    color: #fff;
    width: 100%;
    float: left;
    padding:40px 0;
    margin-top: 20px;
}
.vk-footer__top-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.vk-footer__item {
    padding: 25px 0;
}
.vk-footer__logo {
    display: inline-block;
    margin-bottom: 15px;
}
.vk-footer__text {
    font-style: italic;
}
.vk-footer__text p {
    margin-bottom: 0;
}
.vk-footer__heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.vk-list--style-2, .vk-footer__list--style-2 {
    font-size: inherit;
}
.vk-list--style-2 li, .vk-footer__list--style-2 li {
    position: relative;
    /*padding-left: 25px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.img-logo-footer{
    width: 260px;
    height: 148px;
}
.vk-footer__title{
    margin-top: 0px;
}
.social a{
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
}
footer a{
    color: #fff;
}
.vk-footer__bot {
    background-color: #003724;
    padding: 10px 0;
    color: #fff;
    width: 100%;
    float: left;
}
.crumb {
    width: 100%;
    float: left;
    background: #F5F5F5;
}
.breadcrumbx {
    margin-bottom: 0px;
}
.crumb a {
    color: #333;
    font-size: 14px;
    /* text-transform: uppercase; */
}
.content-box{
    width: 100%;
    float: left;
    /*margin-top: 30px;*/
}
.box-des-category{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.filter-options-title{
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.filter-options-title:hover{
    color: #000;
}
.flr{
    float: right;
}
.sidebar-menu li ul{
    padding-left: 5px;
}
.sidebar-menu li ul li{
    margin: 10px 0;
    line-height: 1.5em;
}
.sidebar-menu li ul a{
    color: #494949;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.sidebar-menu > ul > li{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sidebar-menu ._icon{
    font-size: 20px;
    font-weight: 600;
    color: #3D3D3D;
    line-height: 20px;
}
.vk-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}
.vk-filter__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
}
.vk-filter {
    padding: 10px 0;
    /*border-bottom: 1px solid #e2e2e2;*/
    text-align: center;
}
.vk-filter__item .form-control {
    width: auto;
}
.mr-1{
    margin-right: 4px;
}
.ml-1{
    margin-left: 4px;
}
.list-product-item img{
    width: 100%;
}
.box-item-product{
    margin-bottom: 30px;
}
.box-item-news {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.box-item-news img {
    width: 100%;
}
.name_news{
    font-size: 16px;
    color: #333 !important;
    font-family: RoboB;
    margin-bottom: 0px;
}
.read-deail{
    font-family: RoboI;
    text-decoration: underline;
    text-align: right;
}
.des_news{
    font-size: 14px;
    line-height: 1.4em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 78.4px;
    text-align: justify;
}
.news_hot {
    font-size: 18px;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    font-family: RoboB;
    margin-top: 0;
}
.list-hot-news p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.list-hot-news p a {
    font-size: 15px;
    color: #555;
}

.box-content-detail{
    width: 100%;
    float: left;
}
.thumbnail {
  width: 25%;
  height: 130px;
  float: left;
  /*background: gray;*/
}
.thumbnail.active {
  border:1px solid #333;
}
.thumbnail:hover {
  /*background: blue;*/
}
.thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
}
.detail_contentx{
    font-size: 25px;
    color: #333333;
    font-weight: bold;
    margin-top: 10px;
}
.price_detail{
    color: #00599d;
    font-size: 36px;
    font-weight: 500;
}
.img-slider img{
    max-height: 100% !important;
    max-width: 100% !important;
}
.box-add-cart{
    margin-top: 30px;
}
.vk-calculator input {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 5px;
    height: 50px;
    width: 70px;
    text-align: center;
}
.qty{
    font-size: 20px;
    color: #333;
    font-weight: 700;
}
.content-home-cate{
    width: 100%;
    float: left;
}
.vk-btn {
    margin-left: 10px;
    border: none;
    padding: 15px;
    background: #00599d;
    color: #fff;
    text-transform: uppercase;
    font-family: RoboB;
}
a.vk-btn{
    /*padding: 17px;*/
}
.vk-shopcart__total {
    font-size: 22px;
    color: #000;
}
a.vk-btn:hover{
    color: #fff;
}
.vk-shopcart__total span {
    color: red;
    font-weight: bold;
}
.order-2 {
    width: 70px;
    text-align: center;
}
.vk-shopcart__heading{
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.p2{
    font-size: 24px;
    text-transform: uppercase;
}
#form-contact .form-control{
    margin-bottom: 10px;
}
.btn-send{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 22px;
}
.info-contact{
    padding-left: 10px;
}
.paginations{
    width: 100%;
    float: left;
    text-align: center;
}
.content_detail_product img{
    max-width: 100%;
}
.product_name{
    font-size: 30px;
}